{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if not editing %}
        Create new page
    {% else %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block body %}

    {% if editing %}
    <!-- case of editing mode -->
        <div class="alert alert-info" role="alert">Editing mode</div>
    {% else %}
        <h1>Create a new page</h1>
        {% if existed %}
            <div class="alert alert-danger" role="alert">
                This page already exists!
                <a href="/wiki/{{ entry }}">View page</a> or <a href="/wiki/{{ entry }}/edit">Edit</a>
            </div>
        {% endif %}

    {% endif %}
    
    <form action="{% url 'encyclopedia:create_edit' %}"  method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}